.flex {
    display: flex;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.centered-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gap-1 {
    gap: 5px;
}
.gap-2 {
    gap: 10px;
}
.gap-3 {
    gap: 15px;
}
.gap-4 {
    gap: 20px;
}
.gap-5 {
    gap: 25px;
}
.gap-6 {
    gap: 30px;
}
.gap-7 {
    gap: 35px;
}
.gap-8 {
    gap: 40px;
}
.gap-9 {
    gap: 45px;
}
.gap-10 {
    gap: 50px;
}